:root {
    --em-size: 16px;
    --font-stack: system-ui, sans-serif;
    --paper: white;
    --ink: #242424;
    --listWidth: 18rem;

    --hoverColor: #f0f0f9;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    border-collapse: collapse;
    font-family: var(--font-stack);
    /* outline: 1px solid rgba(255, 0, 0, 0.35); */
}

body {
    background-color: var(--paper);
    font-size: var(--em-size);
    color: var(--ink);
    font-family: var(--font-stack);
}

nav {
    /* width: 100%; */
    height: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: stretch;
    padding: 0.5rem;
    background-color: #999;
    z-index: 999;

    background: linear-gradient(to right, var(--colorBlue), var(--colorGreen), var(--colorYellow), var(--colorRed));
}

#title {
    /* display: block; */
    flex-grow: 1;
    text-align: center;
    /* width: 100%; */
}

main {
    display: grid;
    grid-template-columns: var(--listWidth) 1fr;
    width: 100vw;
    height: calc(100vh - 3rem);
}

aside {
    padding: 1rem;
    height: calc(100% - 2rem);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--paper);
    width: calc(var(--listWidth) - 2rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    inset: 0;
}

#qrcode {
    width: 2rem;
    height: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
}

#qrcode>svg {
    width: 24px;
    height: 24px;
}

mark {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--hoverColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    border-radius: 50%;
    font-weight: 700;
    box-shadow: 0 0 0 2px white inset;
}

button,
select {
    background-color: white;
    /* padding: 0.35rem; */
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 0.5rem;
    /* border: 2px solid white; */
    border-radius: 0.25rem;
    font-weight: 500;
    line-height: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: 0 0 0 2px white inset;
    /* height: 2rem; */
}

button:hover,
select:hover {
    background-color: var(--hoverColor);
}

figure {
    display: inline-block;
}

#pdfView {
    display: block;
    width: calc(100vw - var(--listWidth));
    height: 100%;
    position: relative;
}